
<div class="row">
    <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name" name="name">
          </div>
          <div class="col-md-3">
            <input type="number" class="form-control" placeholder="Phone Number" [(ngModel)]="number" name="number">
          </div>
          <div class="col">
            <button class="btn-success btn" (click)="addAction()">Add</button>
          </div>
        </div>
      </form>
</div>

<div class="row">
    <app-table-data (deleteThisContactEmitter)="deleteLog($event)" [contacts]="logs"></app-table-data>
</div>